* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #E5E5E5;
  color: #23053A;
  font-family: 'Palanquin', sans-serif;
}

.page {
  max-width: 384px;
  margin: 0 auto;
}


img {
  width: 100%;
  height: auto;
}

header img {
  width: 137px;
  height: 137px;
  text-align: center;
  margin: 32px 0 25px;
}

header {
  background-color: #8E9AAF;
  width: 384px;
  height: 279px;
  margin: 10rem 0 0;
  text-align: center;
}


header h1 {
  font-family: 'Staatliches', cursive;

  color: #fff;
  font-weight: 400;
  font-size: 40px;
  line-height: 34px;
  letter-spacing: 5px;
  background: #CBC0D3 ;
  padding: 8px 0;
}

main {
  background-color: #EFF1FF;
  display: grid;
  gap: 32px;
  padding: 14px 32px 60px;
}

main div.card:nth-child(odd){
  height: 450px;
}

p {
  color: #23053A;
  font-family: 'Palanquin', sans-serif;
  font-weight: 400;
  font-size: 14.5px;

  line-height: 15px;
  text-align: center;
}

.card {
  height: 250px;
  width: 320px;
  position: relative;
  font-family: 'Staatliches', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  
  animation: downtop 700ms 350ms backwards;
}


.card img  {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;  
  filter: brightness(0.9);

  transition: all 100ms;
}

.card img:hover{
  transform: scale(1.1);
  opacity: 0.4;
}

.card h2{
  color: #4A4E69;
  font-weight: 400;
  letter-spacing: 0.05em;

  position: absolute;
  right: 17px;
  top: 17px;
  font-size: 20px;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 16px;
  height: 35px;
  width: fit-content;

  animation: topdown 700ms 600ms backwards;
}


@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
    
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
